<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="FileManager"
      connectionString="user id=sa;password=sw0rd;initial catalog=FileManager;Data Source=Titan;Connect Timeout=10;Application Name=File_Manager"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <applicationSettings>
        <FileManager.Properties.Settings>
            <setting name="InitalValue" serializeAs="String">
                <value>TestValue</value>
            </setting>
        </FileManager.Properties.Settings>
    </applicationSettings>
</configuration>